/* base > color
============================================================================================================ */

/* 基本色一覧*/

$white00: white;
$white01: #FFFFFF;
/*白*/

$black00: black;
$black01: #222222;
/*黒*/

$gray00: gray;
$gray01: #969696;
/*灰色*/

$yellow00: yellow;
/*黄*/

$red00: red;
/*赤*/

$blue00: blue;
/*青*/

$green00: green;
/*緑*/

$gold00:gold;
/*金*/
