/*  layout > footer
============================================================================================================ */

.common-footer{
  position: relative;
  background-color: $blue02;
  color: $white00;
  // margin-top : 86px !important;
  @include mq_sp{
    // margin-top : size_sp(115) !important;
  }
  @include mq_sp{}
  &:before {
    content: "";
    width : 100%;
    height : 86px;
    background-image : url(./img/common/icn_wave-item.svg);
    background-size : contain;
    background-repeat: repeat;
    position: absolute;
    top : -85px;
    left : 50%;
    transform: translateX(-50%);
    z-index : 2;
    @include mq_sp{
      width : 102%;
      height : size_sp(115);
      background-image : url(./img/common/icn_wave-item-sp.svg);
      top : size_sp(-114.5);
    }
  }
  &__pageTop{
    @include font-size(17);
    color: $black00;
    line-height: (25/17);
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 500;
    width : 42px;
    position: fixed;
    right: 9px;
    bottom: 20px;
    z-index: 5;
    cursor: pointer;
    @include mq_sp{
      display: none !important;
    }
    // &.active {
    //   & .common-footer {
    //     &__pageTop {
    //       &-img {
    //         & img {
    //           &:first-of-type {
    //             opacity: 1;
    //           }
    //           &:nth-of-type(2) {
    //             opacity: 0;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
    &-txt {
      width : 33px;
      margin : 0 auto;
    }
    &-img {
      margin-top : 4.6px;
      position: relative;
      // & img {
      //   transition-duration: .6s;
      //   &:first-of-type {
      //     opacity: 1;
      //   }
      //   &:nth-of-type(2) {
      //     position : absolute;
      //     top : 0;
      //     left : 0;
      //     opacity : 1;
      //   }
      // }
    }
    &.is-stop{
      position: absolute;
      bottom: calc(100% + 90px);
    }
  }
  &__inner{
    max-width: 640px;
    width: 100%;
    padding: 23px 0 30px;
    margin: 0 auto;
    @include mq_sp{
      max-width: size_sp(590);
      padding: size_sp(60) 0 size_sp(46);
    }
  }
  &__logo {
    width : 199.4px;
    margin : 0 auto;
    @include mq_sp{
      width : size_sp(299);
    }
  }
  &__list{
    padding : 44px 0 33px;
    @include flex(flex, wrap, center, normal, normal, row);
    border-bottom : solid 2px $white00;
    @include mq_sp{
      padding : size_sp(88) 0 size_sp(54);
      border-bottom : solid size_sp(3) $white00;
    }
  }
  &__item{
    font-size : 18px;
    font-weight: 700;
    line-height : 1;
    @include mq_sp{
      @include fz_vw(32);
      text-align: center;
      width : size_sp(120);
      white-space: nowrap;
    }
    &:nth-of-type(2) {
      @include mq_sp{
        width : size_sp(210);
      }
    }
    &:nth-of-type(5) {
      @include mq_sp{
        width : size_sp(210);
      }
    }
    &:nth-of-type(n + 4) {
      @include mq_sp{
        margin-top : size_sp(54);
      }
    }
    &:not(:last-of-type) {
      margin-right : 32px;
      @include mq_sp{
        margin-right : 0;
      }
    }
    &:not(:nth-of-type(3n)) {
      @include mq_sp{
        margin-right : size_sp(56);
      }
    }
    &:last-of-type {
      @include mq_sp{
        margin-right : 0;
      }
    }
    & a{
      position: relative;
      &:hover{
        opacity: 1;
      }
    }
  }
  &__sns {
    margin-top : 40px;
    @include flex(flex, wrap, center, normal, normal, row);
    @include mq_sp{
      margin-top : size_sp(50);
    }
    &-item {
      width : 42px;
      @include mq_sp{
        width : size_sp(74);
      }
      &:not(:last-of-type) {
        margin-right : 30px;
        @include mq_sp{
          margin-right : size_sp(50);
        }
      }
    }
  }
  &__sub {
    &List {
      width : 100%;
      margin-top : 53px;
      @include flex(flex, wrap, center, normal, normal, row);
      @include mq_sp{
        margin-top : size_sp(56);
      }
    }
    &Item {
      font-size : 12px;
      letter-spacing: .1em;
      line-height : 1;
      @include mq_sp{
        @include fz_vw(24);
      }
      &:not(:last-of-type) {
        margin-right : 20px;
        @include mq_sp{
          margin-right : size_sp(50);
        }
      }
      & a {
        display: block;
      }
    }
  }
  &__copyright{
    font-size : 12px;
    display: block;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.095em;
    margin-top: 25px;
    @include mq_sp{
      @include fz_vw(24);
      margin-top: size_sp(52);
    }
  }
  & .mod-btn {
    margin : 29px auto 0;
    @include mq_sp{
      margin-top : size_sp(48);
    }
  }
}