/* layout > header
============================================================================== */

$header_height_pc: 70px;
$header_height_sp: size_sp(99);

.home{
  .common-header{
    transform : translateY(-100%);
    &.active {
      transform : translateY(0);
    }
  }
}

.common-header{
  width: 100%;
  height: $header_height_pc;
  color: $white00;
  background-image : url(./img/common/bg_header.svg);
  background-size : cover;
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: $white00;
  transition: 1s;
  @include mq_tab{
    height : 99px;
  }
  @include mq_sp{
    width: 102%;
    height: $header_height_sp;
    background-image : url(./img/common/bg_header-sp.svg);
  }
  &.open{
    background: $black00;
  }
  // &.is-active{
  //   background: $black00;
  //   box-shadow: 0 3px 6px rgba($black00,0.1);
  // }
  &__inner{
    @include flex(flex, wrap, space-between, center, normal, row);
    position: relative;
    width: 100%;
    height: 100%;
    padding : 0 20px;
    @include mq_tab{
      justify-content: center;
      padding: 5px 0 0;
    }
    @include mq_sp{
      padding: size_sp(5) 0 0;
    }
  }
  &__logo{
    width : 153px;
    position: relative;
    font-size: 0;
    font-weight: 400;
    margin-bottom : 6px;
    @include mq_tab{
      width : 240px;
    }
    @include mq_sp{
      width: size_sp(240);
    }
    a{
      display: block;
      position: relative;
      width: 100%;
    }
  }
  &__toggle{
    @include abso-center-v();
    display: none;
    cursor: pointer;
    @include mq_tab{
      display: block;
      width: 54px;
      height: 45px;
      left: 30px;
      @include mq_sp{
        width: size_sp(54);
        height: size_sp(45);
        left: size_sp(30);
      }
    }
    &.open{
      span{
        &:first-of-type{
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
        &:nth-of-type(2){
          opacity: 0;
        }
        &:last-of-type{
          bottom: 50%;
          transform: translateY(50%) rotate(45deg);
        }
      }
    }
    span{
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background: $white00;
      transition: 0.5s;
      @include mq_tab{
        height : 3px;
        display: block;
      }
      @include mq_sp{
        height: size_sp(3);
      }
      &:first-of-type{
        top: 0;
      }
      &:nth-of-type(2){
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-of-type{
        bottom: 0;
      }
    }
  }
  &__nav{
    width: 634px;
    position: absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -65%);
    @include mq_tab{
      width: 100%;
      padding: 18px 0 80px;
      background-color: rgba($green01,0.9);
      display: none;
      position: absolute;
      top : 98px;
      left: 0;
      transform: none;
    }
    @include mq_sp{
      padding: size_sp(18) 0 size_sp(80);
      top : size_sp(98);
    }
  }
  &__list{
    @include flex(flex, nowrap, center, center, normal, row);
    width: 100%;
    @include mq_tab{
      display: block;
      flex-wrap: wrap;
    }
  }
  &__item{
    font-size : 18px;
    font-weight: 700;
    line-height : 1;
    @media screen and (max-width:1100px) {
      font-size : 16px;
      text-align: center;
    }
    @include mq_sp{
      @include fz_vw(32);
    }
    &:not(:last-of-type) {
      margin-right : 31px;
      @include mq_tab{
        margin-right : 0;
      }
    }
    a{
      display: block;
      position: relative;
      @include mq_tab{
        display: inline-block;
        padding: 37px 0;
      }
      @include mq_sp{
        padding: size_sp(37) 0;
      }
      &:hover{
        opacity: 1;
      }
    }
    &:last-of-type{
      margin-right: 0;
    }
  }
  &__sns {
    margin-bottom : 10px;
    @include mq_tab{
      margin : 50px auto 0;
    }
    @include mq_sp{
      margin : size_sp(50) auto 0;
    }
    &-list {
      @include flex(flex, wrap, center, center, normal, row);
    }
    &-item {
      width : 36px;
      @include mq_tab{
        width : 74px;
      }
      @include mq_sp{
        width : size_sp(74);
      }
      &:not(:last-of-type) {
        margin-right : 14px;
        @include mq_tab{
          margin-right : 50px;
        }
        @include mq_sp{
          margin-right : size_sp(50);
        }
      }
    }
  }
}