.top-faq {
  padding-top : 208px;
  @include mq_sp{
    padding-top : size_sp(211);
  }
  &__inner {
    width : 570px;
    margin : 54px auto 0;
    @include mq_sp{
      width : size_sp(630);
      margin-top : size_sp(76);
    }
  }
  &__item {
    padding : 24px 0;
    border-top : solid 1px $green02;
    @include mq_sp{
      padding : size_sp(33) 0;
      border-top : solid size_sp(2) $green02;
    }
    &:last-of-type {
      border-bottom : solid 1px $green02;
      @include mq_sp{
        border-bottom : solid size_sp(2) $green02;
      }
    }
    &.active {
      padding-bottom : 21px;
      @include mq_sp{
        padding-bottom : size_sp(30);
      }
      & .top-faq {
        &__right {
          margin-top : 4px;
          transform : rotate(180deg);
          @include mq_sp{
            margin-top : 0;
          }
        }
      }
    }
  }
  &__ttl {
    font-size : 18px;
    line-height : (37/18);
    padding : 0px 20px;
    @include flex(flex, nowrap, space-between, center, normal, row);
    @include mq_sp{
      @include fz_vw(32);
      line-height : (58/32);
      padding : 0px size_sp(20);
    }
  }
  &__right {
    width : 31px;
    height : 16.5px;
    margin-top : 6px;
    position : relative;
    transition : .6s;
    @include mq_sp{
      width : size_sp(45);
      height : size_sp(24);
      margin-top : size_sp(2);
    }
    & img {
      display: block;
    }
  }
  &__sub {
    &List {
      width : 530px;
      margin : 18px auto 0;
      display: none;
      @include mq_sp{
        width : size_sp(590);
        margin-top : size_sp(25);
      }
    }
    &Item {
      &:not(:first-of-type) {
        padding-top : 24px;
        border-top : solid 1px $green02;
        @include mq_sp{
          padding-top : size_sp(30);
          border-top : solid size_sp(2) $green02;
        }
      }
      &:not(:last-of-type) {
        padding-bottom : 21px;
        @include mq_sp{
          padding-bottom : size_sp(30);
        }
      }
    }
  }
  &__question {
    margin-right : 5px;
    @include flex(flex, nowrap, flex-start, stretch, normal, row);
    @include mq_sp{
      margin-right : 0px;
    }
    & span {
      margin-right : 5px;
      @include mq_sp{
        margin-right : size_sp(16);
      }
    }
  }
  &__answer{
    margin-top : 16px;
    @include flex(flex, nowrap, flex-start, stretch, normal, row);
    @include mq_sp{
      margin-top : size_sp(22);
    }
    & span {
      margin-right : 7px;
      @include mq_sp{
        margin-right : size_sp(20);
      }
    }
  }
}