.top-info {
  padding-top : 108px;
  @include mq_sp{
    padding-top : size_sp(110);
  }
  &__list {
    width : 515px;
    margin : 55px auto 0;
    @include mq_sp{
      width : size_sp(592);
      margin-top : size_sp(77);
    }
  }
  &__item {
    padding : 44px 0 42px;
    background-color : rgba($white00,.6);
    @include mq_sp{
      padding : size_sp(57) 0 size_sp(53);
    }
    &:not(:first-of-type) {
      margin-top : 50px;
      @include mq_sp{
        margin-top : size_sp(60);
      }
    }
    &:nth-of-type(2) {
      @include mq_sp{
        padding-top : size_sp(65);
      }
      & .top-info {
        &__sub {
          &List {
            margin-top : 41px;
            @include mq_sp{
              margin-top : size_sp(69);
            }
          }
        }
      }
    }
  }
  &__sub {
    &List {
      width : 435px;
      margin : 40px auto 0;
      @include mq_sp{
        width : size_sp(472);
        margin-top : size_sp(64);
      }
    }
    &Item{
      font-size : 15px;
      line-height: (35/15);
      @include flex(flex, nowrap, flex-start, stretch, normal, row);
      @include mq_sp{
        @include fz_vw(28);
        line-height: (58/28);
        text-align: center;
        align-items: center;
        flex-direction: column;
      }
      &:not(:first-of-type) {
        @include mq_sp{
          margin-top : size_sp(58);
        }
      }
    }
  }
  &__left {
    width : 105px;
    margin-right : 30px;
    @include mq_sp{
      width : 100%;
      margin-right : 0;
    }
  }
  &__right {
    width : 300px;
    @include mq_sp{
      width : 100%;
    }
  }
  &__caution {
    font-size : 13px;
    line-height : (35/13);
    text-align : center;
    margin-top : 5px;
    @include mq_sp{
      @include fz_vw(24);
      line-height : 2.2;
      margin-top : size_sp(10);
    }
  }
}